:root {
    --toggle-width: 900px;
    --toggle-height: 80px;
    --slider-width: calc(var(--toggle-width) / 2);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--toggle-width);
    height: var(--toggle-height);

    background-color: red;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider::before {
    position: absolute;
    content: "";
    height: var(--toggle-height);
    width: var(--slider-width);
    left: 0;
    bottom: 0;

    background-color: lightgray;
    transition: 0.2s;
}

input:checked + .slider::before {
    transform: translateX(var(--slider-width));
}

.rounded {
    border-radius: calc(var(--toggle-height) / 2);
}

.slider.rounded:before {
    border-radius: calc(var(--toggle-height) / 2);
}
