@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

:root {
    --toggle-width: 900px;
    --toggle-height: 80px;
    --toggle-margin: 10px;
    --toggle-border-width: 2px;

    --slider-columns: 3;
    --slider-width: calc(var(--toggle-width) / var(--slider-columns));
    --slider-height: var(--toggle-height);

    --font: Mulish;
    --font-fallback: sans-serif;
    --font-size: 1.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.toggle {
    position: relative;
    display: inline-block;
    width: var(--toggle-width);
    height: var(--toggle-height);
    margin: var(--toggle-margin);
} 

.slider {
    position: relative;
    height: var(--slider-height);
    width: var(--slider-width);
    left: 0;
    bottom: 0;

    background-color: lightgray;
    transition: 0.2s;
}

.slider-row {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    border: var(--toggle-border-width) solid lightgray;

    display: grid;
    grid-template-columns: repeat(var(--slider-columns), 1fr);
    justify-items: stretch;
    align-items: stretch;
}

.option {
    position: relative;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.option input {
    opacity: 0;
    width: 0;
    height: 0; 
} 

.option-text {
    font-family: var(--font), var(--font-fallback);
    font-size: var(--font-size);
}

.slider-row.rounded, .slider.rounded {
    border-radius: calc(var(--toggle-height) / 2);
}
