@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

:root {
    --toggle-width: 900px;
    --toggle-height: 80px;
    --toggle-border-width: 2px;

    --slider-width: calc(var(--toggle-width) / 2);
    --slider-height: calc(var(--toggle-height));
    --slider-columns: 2;

    --font: Mulish;
    --font-fallback: sans-serif;
    --font-size: 1.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--toggle-width);
    height: var(--toggle-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border: var(--toggle-border-width) solid lightgray;
    background-color: red;
}

.slider::before {
    position: absolute;
    content: "";
    height: var(--slider-height);
    width: var(--slider-width);
    left: calc(-1 * var(--toggle-border-width));
    bottom: calc(-1 * var(--toggle-border-width));

    background-color: lightgray;
    transition: 0.2s;
}

input:checked + .slider::before {
    transform: translateX(var(--slider-width));
}

.slider.rounded, .slider.rounded::before {
    border-radius: calc(var(--toggle-height) / 2);
}

.options-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(var(--slider-columns), 1fr);
    justify-items: stretch;
    align-items: center;
}

.option {
    font-family: var(--font), var(--font-fallback);
    font-size: var(--font-size);
}
