body { 
  background-image: linear-gradient(rgb(224, 105, 82), rgb(153, 68, 51)); 
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
